.black {
  color: black
}

.topic {
  text-align: center;
}

.image-detail {
  .panel-body {
    text-align: center;
  }
  img, video {
    max-width: 100%;
  }
}

.topic {
  text-align: center;

  .image-preview {
    animation: fadein .65s ease-out;

    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1.0;
      }
    }
  }
}
